@model IEnumerable<PortfolioWebApp.Models.Contact>

@{
    ViewBag.Title = "Admin Panel - Gelen Mesajlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="t-center t-white">Gelen Mesajlar</h2>

<div style="width: 90%; margin: auto;">
    <table class="table table-bordered table-hover" style="color: white;">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Mesaj</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Number</td>
                    <td>@item.Content</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="t-center">
        <a class="btn m-top" href="@Url.Action("Logout", "Admin")">Çıkış Yap</a>
    </div>
</div>
